#pytorch torchvision torchaudio cpuonly -c pytorch
#conda install pytorch torchvision torchaudio cpuonly -c pytorch       
streamlit                                                               
sentence-transformers
gradio
chromadb
langchain
langchain_core
langchain_community
einops
more_itertools
python-dotenv
langchain-google-genai